{% extends 'navbar_layout.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-top: 30vh;">
    <div class="row">
        <div class="col-sm-4">
        <div class="img align-items-center d-flex">
        <img src="{% static 'images/UserPhoto.jpeg' %}" class="myImage">
        </div>
        </div>
        <div class="col-sm-8 container">
        <div>
        <div class="welcome">
            <p class="text-center">- Welcome -</p>
        <div class="home" style="margin-top: 10vh;">
            <p class="text-center">Hi there, my name is Jeremiah Garcia Tennes. I was born on 27th of February 2001. I’m currently a sophmore majoring in computer science at Universitas Indonesia.</p>
            <p class="text-center">- Feel free to check me out :) -</p>
        </div>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
