{% extends 'navbar_layout.html' %}
{% load static from static %}
{% block content %}
<div class="container" style="margin-top: 30vh;">
    <h1 class="welcome" style="margin-top: 15vh;">Contact me</h1>
    <div class="row">
        <div class="col-sm-4">
        <div>
        <img src="{% static 'images/ig.webp' %}" class="icon">
        </div>
        </div>
        <div class="col-sm-8 container">
        <div>
        <div class="home" style="margin-top: 15vh;">
            <p class="text-center">@jeremiahtennes</p>
        </div>
        </div>
    </div>
    </div>
    
    <div class="row">
        <div class="col-sm-4">
        <div>
        <img src="{% static 'images/line.png' %}" class="icon" style="margin-top: 15vh;">
        </div>
        </div>
        <div class="col-sm-8 container">
        <div>
        <div class="home" style="margin-top: 30vh;">
            <p class="text-center">ID: jerbot04</p>
        </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}