{% extends 'navbar_layout.html' %}
{% load static %}
{% block content %}

<div>
    <p style="vertical-align: middle;" align=middle>
    The current time is {{ time | date:"G:i" }}
    </p>
</div>
{% endblock %}