<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"STORY 1"</title>
</head>
<body>
    <h1>Hello my name is Jeremiah Garcia Tennes</h1>
	<article>NPM : {{ 1806204966 }}</article
    <article>Angkatan : {{ 2018 }}</article>
	<article>Tempat Kuliah : {{ "Fasilkom - Universitas Indonesia" }}</article>
	<article>Hobbies : {{ "Playing with friends, Talking with friends, Hanging out with friends" }}</article>
    <article>I am {{ 18 }} years old</article>
	<article>About me : A kid who loves playing games (mostly apex legends) and struggling to be the best<article>
	<img src="{% static 'images/UserPhoto.jpeg' %}">
	<a href="https://www.instagram.com/jeremiahtennes/">
	<img src="{% static 'images/igicon.jpeg' %}" alt="HTML tutorial" style="width:42px;height:42px;border:0;">
	<img src="{% static 'images/riwayat.jpeg' %}">
	
</a>
</body>
</html>
