{% extends 'navbar_layout.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

    {% for j in jadwal %}
            <div class="jadwal-card">
                <h2><span>{{ j.kategori }}</span> - {{ j.nama_kegiatan }}</h2>
                <div class="flex">
                    <div>
                        <h4>di {{ j.tempat }}</h4>
                        <h5>Tahun ajaran: {{ j.thnA }}</h5>
                        <h6>Jumlah sks: {{ j.sks }}</h6>
                        <h7>Deskripsi: {{ j.descrip }}</h7>
                        <p>{{ j.tanggal }} - {{ j.waktu }}</p>
                    </div>
            
                </div>
            </div>
        {% endfor %}
        {% endblock %}
</html>